@using OtripleS.Portal.Web.Views.Components.ContainerComponents;
@using OtripleS.Portal.Web.Views.Bases;

<ContainerComponent State="State">
    <Content>
        <div align="center">
            <TextBoxBase @ref=StudentIdentityTextBox
                         Placeholder="Student Identity" />
            <br />
            <TextBoxBase @ref=StudentFirstNameTextBox
                         Placeholder="First Name" />
            <br />
            <TextBoxBase @ref=StudentMiddleNameTextBox
                         Placeholder="Middle Name" />
            <br />
            <TextBoxBase @ref=StudentLastNameTextBox
                         Placeholder="Last Name" />
            <br />
            <ButtonBase @ref=SubmitButton
                        Label="Submit Student" />
        </div>
    </Content>
</ContainerComponent>