@typeparam TEnum

<select @oninput="OnValueChanged">
    @{ 
        foreach(TEnum enumValue in Enum.GetValues(typeof(TEnum)))
        {
            <option>@enumValue</option>
        }
    }
</select>