@using PrettyBlazor

<Condition Evaluation=@(Errors is not null)>
    <Match>
        <ul>
            <Iterations Items=Errors Context=Error>
                <li>@Error</li>
            </Iterations>
        </ul>
    </Match>
</Condition>